@font-face {
  font-family: 'times_dotitalic';
  src: url('fonts/timesdotitalic-webfont.woff2') format('woff2'),
    url('fonts/timesdotitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'times_dotroman';
  src: url('fonts/timesdotrom-webfont.woff2') format('woff2'),
    url('fonts/timesdotrom-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  height: 100%;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

canvas {
  display: block;
  position: fixed;
  z-index: -1;
  pointer-events: none;
}

body {
  margin: 0px;
  font-family: "times_dotroman", Times, "Times New Roman", serif;
  line-height: 1.1;
  box-sizing: border-box;
}

h1 {
  font-size: 4.7vw;
  font-weight: normal;
  line-height: .9;
  margin: 0 0 2vw;
}

h2 {
  font-family: 'Xanh Mono', monospace;
  font-size: 36px;
  font-weight: normal;
  margin: 42px 0 12px;
}

h3 {
  font-family: 'Xanh Mono', monospace;
  font-weight: 400;
  font-size: 24px;
  margin: 0 0 10px;
}

p,
li {
  font-size: 24px;
  line-height: 1.1;
  margin: 0 0 12px;
}

li {
  margin: 0;
}

ul li {
  list-style-type: square;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: blue;
}

.emphasis {
  font-family: "times_dotitalic", Times, "Times New Roman", serif;
}

#main {
  position: absolute;
  padding: 5vw;
  width: 90%;
}

.container {
  display: flex;
  justify-content: space-between;
}

.left-side {
  align-self: start;
  position: sticky;
  top: 5vw;
  flex: 0 1 50%;
}

.right-side {
  padding-left: 5vw;
  flex: 0 1 50%;
  max-width: 540px;
}

@media only screen and (min-width: 1400px) {
  .container {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 950px) {

  #main {
    padding-bottom: 100px;
  }

  .container {
    flex-direction: column;
  }

  .left-side {
    position: inherit;
    margin-bottom: 30px;
  }

  .right-side {
    padding-left: 0;
  }

  h1 {
    font-size: 7.6vw;
  }
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 9.2vw;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 24px;
  }

  p,
  li {
    font-size: 20px;
  }
}